@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav{
    height: 100px;
    background-color: rgb(247, 221, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

nav .logo{
    font-size: 33px;
    color: aliceblue;
    font-weight: 600px;
    float: left;
}

nav ul{
    display: flex;
    list-style: none;
   
}

nav ul li{
    margin: 0 5px;

}

nav ul li a{
    color: rgb(109, 176, 235);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    background-color: rgb(247, 221, 136);
   text-align: center;
    border: 1px rgb(5, 2, 2) solid;
    border-radius: 100px;
    transition: all 0.5s ease;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a:hover{

color: rgb(247, 221, 136);
    background-color: rgb(234, 235, 222);
    padding-right: 30px;
  
    
    
}

nav ul li a:hover::after{
    opacity: 1;
    right: 0;
    content: '\00bb';
   
   
}


#click{
    display: none;
}

@media screen and (max-width: 940px) 
{

   
    nav .menu-btn i{
        
        display: inline;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        
        position: absolute;
        top: 100px;
        left: -100%;
        background-color: rgb(247, 221, 136);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.10s ;
    }

    
}

#click:checked ~ ul{
    left: 0%;
}

nav ul li{
    margin: 40px 0px;
    
}

nav ul li a{
    font-size: 20px;
    display: block;
}

nav ul li a:hover,
nav ul li a.active{
    color: cyan;
    background:none;
    
}

nav .menu-btn i{
    color: rgb(242, 243, 236);
    font-size: 22px;
    cursor: pointer;
    display: none;
}


@media screen and (max-width:970px) {
    
    nav .menu-btn i{
        color: rgb(242, 243, 236);
        font-size: 22px;
        cursor: pointer;
        display: block;
        
    }
    
    
}

.section{
    width: 100%;
    min-height: 100vh;
    background-image: none;
    

}
.container1{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
    height: auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 20px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}

.content-section .content .button a{
   background-color: #3d3d3d;
   padding: 12px 40px;
   text-decoration: none;
   color: #fff;
   font-size: 25px;
   letter-spacing: 1.5px;
}

.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;

}
.content-section .socal{
    margin: 40px 40px;
}

.content-section .socal i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .socal i:hover{
    color: #3d3d3d;
}

@media screen and (max-width:768px) {
    .container1{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;

    }

    .image-section{
       
        float: none;
        width: 100%;
        display: block;
        margin: auto;

    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        padding: 13px ;
    }

    .content-section .title{
        text-align: center;
        font-size: 19px;

    }

    .content-section .content .button{
        text-align: center;
    }

    .content-section .content .button a{
       padding: 9px 30px;
    }

    .content-section .socal{
        text-align: center;
    }

    nav .menu-btn i{
        color: rgb(242, 243, 236);
        font-size: 22px;
        cursor: pointer;
        display: block;
        
    }
    
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
  }
  
  input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
      max-width: 300px;
    border-radius: 5px;
   
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
       align-items: center;
       margin-top: 30px;
       display: flex;
       position: relative;
       
       
  }